@keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .slideInText {
    opacity: 0;
    animation-name: slideInFromLeft;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
  }
  
  .slideInCard {
    opacity: 0;
    animation-name: slideInFromBottom;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
  }
  